 /* Style the tab buttons */

 .tablink {
     background-color: #555;
     color: white;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     font-size: 17px;
     width: 25%;
 }

 /* Change background color of buttons on hover */

 .tablink:hover {
     background-color: #777;
 }

 /* Set default styles for tab content */

 .tabcontent {
     color: white;
     display: none;
     padding: 0px;
     text-align: center;
     height: 100%;
 }

 /* Style each tab content individually */

 #default {
     background-color: #0A3D62;
 }

 #one {
     background-color: #6ab04c;
 }

 #two {
     background-color: #F3B63A;
 }

 #three {
     background-color: #E74292;
 }